# --------------------
# Python cache
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------
# Virtual environments
# --------------------
.venv/
venv/
env/

# --------------------
# Jupyter
# --------------------
.ipynb_checkpoints/

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Logs
# --------------------
*.log

# --------------------
# Streamlit runtime files
# --------------------
.streamlit/

# --------------------
# IDEs
# --------------------
.vscode/
.idea/
